* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  ::selection {
    background-color: #3fa2f6;
  }
}

html {
  font-size: 62.5%;
}

/**nav bar**/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
}

p,
li,
a {
  font-family: sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  color: var(--para-color);
  line-height: 1.5;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar-brand {
  width: 80px;
  margin-top: 10px;
  aspect-ratio: 1;
}

:root {
  --main-color: #0062ff;
  /* --bg-color: #ffffff; */
  --bg-color: #f7fcff;
  --font-color: #424242;
  --heading-color: #000a19;
  --supporting-color: #ebf3fe;
  --para-color: #504e4d;
  --main-hero-color: #003b99;
  --white-color: #ffffff;
  --footer-bg-color: #040d12;
  --btn-hover-bg-color: #033b99;
  --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container {
  max-width: 142rem;
  margin: 0 auto;
  padding: 9.6rem 4.4rem;
}

.section-navbar {
  /* width: 100%; */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.section-navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 2.4rem;
}

.section-navbar .navbar ul {
  display: flex;
  gap: 3.2rem;
  /* text-transform: capitalize; */

  & li a {
    color: var(--heading-color);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.6rem;
    display: inline-block;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -0.3rem;
      left: 0;
      width: 0%;
      border-bottom: 0.2rem solid var(--main-color);
      transition: all 0.3s linear;
    }
  }

  & li a:hover:after {
    width: 100%;
  }
}

/**hero section**/

.grid {
  display: grid;
}

.grid-two--cols {
  grid-template-columns: repeat(2, 1fr);
}

.btn {
  display: inline-block;
  padding: 12px 32px;
  background-color: var(--main-color);
  color: var(--white-color);
  border-radius: 0.6rem;
}

.btn:hover {
  background-color: var(--btn-hover-bg-color);
  cursor: pointer;
  box-shadow: var(--btn-box-shadow);
}

main {
  position: relative;
  background-image: linear-gradient(
    to top right,
    #3d86fa,
    #4484fb,
    #b3d2ff,
    #ebf3fe
  );
}

.section-hero--image img {
  width: 100%;
  height: auto;
  transform: scaleX(-1);
}

.section-hero .grid {
  align-items: center;
  gap: 6.4rem;

  & .hero-subheading {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.7rem;
    word-spacing: 0.2rem;
    color: var(--main-hero-color);
    font-weight: 700;
    margin-bottom: 6px;
  }

  & .hero-heading {
    font-size: 3.2rem;
    line-height: 1.5;
    font-family: sans-serif;
    color: var(--main-hero-color);
    font-weight: 1000;
  }

  & .hero-para {
    color: var(--white-color);
    margin: 2rem 0 3rem 0;
  }
}

/**shape divider**/

.custom-shape-divider-bottom-1719916076 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1719916076 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1719916076 .shape-fill {
  fill: #ffffff;
}

/**end shape divider**/

/**about section**/

.section-common-heading {
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: capitalize;
}

.section-common-subheading {
  color: var(--heading-color);
}

.section-about img {
  padding: 2.54rem;
  background-color: var(--supporting-color);
  width: 15rem;
  height: auto;
  border-radius: 50%;
  transition: all 0.3s linear;
}

.section-about .about-div {
  text-align: center;
}

.section-common--title {
  font-size: 2rem;
  margin: 2.4rem 0 1.2rem 0;
}

.grid-three--cols {
  grid-template-columns: repeat(3, 1fr);
  gap: 6.4rem;
}

.section-about .grid {
  gap: 6.4rem;
}

.section-about .icon:hover > img {
  transform: rotate(360deg);
  background: linear-gradient(to right, #0575e6, #021b79);
}

/**courses section**/

.fa-solid {
  padding: 2.4rem;
  background-color: var(--supporting-color);
  font-size: 2.4rem;
  border-radius: 50%;
  color: var(--main-hero-color);
}

.fa-brands {
  padding: 2.4rem;
  background-color: var(--supporting-color);
  font-size: 2.4rem;
  border-radius: 50%;
  color: var(--main-hero-color);
}

.grid-four--cols {
  grid-template-columns: repeat(4, 2fr);
}

.section-courses .grid {
  gap: 3.2rem;
}

.section-courses .courses-div:hover {
  box-shadow: var(--btn-box-shadow);
}

.section-courses .courses-div {
  padding: 3rem;
}

.courses-div:nth-child(2) .icon .fa-brands {
  background-color: #e7f6ef;
  color: #68bf9b;
}

.courses-div:nth-child(3) .icon .fa-brands {
  background-color: #fbebe8;
  color: #ff8b52;
}

.courses-div:nth-child(1) .icon .fa-brands {
  color: #0062ff;
}

.courses-div:nth-child(4) .icon .fa-brands {
  background-color: #ccf7f7;
  color: #183d3d;
}

.courses-div:nth-child(5) .icon .fa-solid {
  background-color: #f7dfee;
  color: #d988b9;
}

.courses-div:nth-child(5) .icon .fa-solid {
  background-color: #f6dfce;
  color: #ff9b50;
}

.courses-div:nth-child(5) .icon .fa-brands {
  background-color: #dce9fa;
  color: #1450a3;
}

/**why choose section**/

.common-text--highlight {
  width: 6rem;
  aspect-ratio: 1;
  background-color: var(--supporting-color);
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  font-weight: 700;
  border-radius: 50%;
}

.section-why-choose .text-align--right .why-choose--div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  text-align: right;
}

.choose-center--div img {
  width: 100%;
  height: auto;
}

.section-why-choose .grid {
  gap: 9.6rem;
}

.why-choose--div {
  margin-top: 3.2rem;
}

.choose-center--div,
figure {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.choose-center--div figure::before,
.choose-center--div figure::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4085fa;
  width: 45rem;
  height: 45rem;
  border-radius: 50%;
  z-index: -1;
}

@keyframes circle {
  0% {
    background-color: #b3d0ff;
  }

  25% {
    background-color: #80b1ff;
  }

  50% {
    background-color: #4d91ff;
  }

  75% {
    background-color: #99c0ff;
  }

  100% {
    background-color: #3381ff;
  }
}

.choose-center--div figure::before {
  animation: circle 5s linear infinite;
}

.choose-center--div figure::after {
  width: 50rem;
  width: 50rem;
  z-index: -2;
  /* border: .5rem solid var(--supporting-color); */
  background-color: transparent;
}

/**contact home section**/

.section-contact-homepage {
  width: 60%;
  min-height: 30rem;
  margin: 0 auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  /* margin-bottom: 5rem; */
  border-radius: 0.2rem;
  padding: 0 3.2rem;
  position: relative;
  bottom: -15rem;
  z-index: 1;
  background-color: var(--white-color);

  & .grid {
    align-items: center;
    gap: 6.2rem;
  }
}

.section-contact-homepage img {
  width: 90%;
  height: auto;
}

.contact-title {
  font-size: 3.8rem;
  line-height: 1.2;
}

.contact-content p {
  margin: 1.2rem 0 2.4rem 0;
}

.section-contact-homepage .fa-solid {
  padding: 0;
  color: var(--white-color);
  background-color: var(--main-color);
}

.section-contact-homepage a {
  color: var(--white-color);
  text-transform: capitalize;
}

.section-about .container:first-child,
.section-blog .container:first-child,
.section-courses-homepage .container:first-child,
.section-why-choose .container:first-child {
  padding: 6.4rem 0 2.4rem 0;
}

.section-courses {
  background-color: var(--bg-color);
}

/**footer section**/

footer {
  background-color: var(--footer-bg-color);
  padding-top: 17rem;
}

footer * {
  color: var(--white-color);
}

.footer-subheading {
  font-size: 2.2rem;
  font-weight: 700;
}

.footer-1--div p {
  margin: 1rem 0 3.2rem 0;
}


.footer-1--div {
  text-align: left;
  & .social-footer--icons{
    display: flex;
    gap: 2.4rem;
  

  & #social-footer--icons-child{
    width: 7rem;
    aspect-ratio: 1;
    background-color: var(--supporting-color);
    color: var(--btn-hover-bg-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s linear;

    &:hover{
      color: var(--supporting-color);
      background-color: var(--btn-hover-bg-color);
      rotate: 360deg
    }
}
  }
}

footer .grid{
  text-align: right;
}