* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  ::selection{
    background-color: #3FA2F6;
  }
}

html {
  font-size: 62.5%;
}

/**nav bar**/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
}

p,
li,
a {
  font-family: sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  color: var(--para-color);
  line-height: 1.5;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar-brand{
  width: 80px;
  margin-top: 10px;
  aspect-ratio: 1;
}

:root {
  --main-color: #0062ff;
  --bg-color: #ffffff;
  --font-color: #424242;
  --heading-color: #000a19;
  --supporting-color: #ebf3fe;
  --para-color: #504e4d;
  --main-hero-color: #003b99;
  --white-color: #ffffff;
  --btn-hover-bg-color: #033b99;
  --btn-box-shadow: rgba(100,100,111,0.2)0px 7px 29px 0px;
}

.container {
  max-width: 102rem;
  margin: 0 auto;
  padding: 9.6rem 2.4rem;
}

.section-navbar {
  /* width: 100%; */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.section-navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 2.4rem;
}

.section-navbar .navbar ul {
  display: flex;
  gap: 3.2rem;
  /* text-transform: capitalize; */

  & li a {
    color: var(--heading-color);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.6rem;
    display: inline-block;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -0.3rem;
      left: 0;
      width: 0%;
      border-bottom: 0.2rem solid var(--main-color);
      transition: all 0.3s linear;
    }
  }

  & li a:hover:after {
    width: 100%;
  }
}

/**hero section**/

.grid {
  display: grid;
}

.grid-two--cols {
  grid-template-columns: repeat(2, 1fr);
}

.btn{
    display: inline-block;
    padding: 2px 4px;
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: 0.6rem;
}

.btn:hover{
    background-color: var(--btn-hover-bg-color);
    cursor: pointer;
    box-shadow: var(--btn-box-shadow);
}

main{
    background-image: linear-gradient(
        to top right,
        #3d86fa,
        #4484fb,
        #b3d2ff,
        #ebf3fe
    );
}

.section-hero--image img{
  width: 100%;
  height: auto;
  transform: scaleX(-1);
}

.section-hero .grid{
  align-items: center;
  gap: 6.4rem;

  & .hero-subheading{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.7rem;
    word-spacing: 0.2rem;
    color: var(--main-hero-color);
    font-weight: 700;
    margin-bottom: 6px;
  }

  & .hero-heading{
    font-size: 3.2rem;
    line-height: 1.5;
    font-family: sans-serif;
    color: var(--main-hero-color);
    font-weight: 1000;
  }

  & .hero-para{
    color: var(--white-color);
    margin: 2rem 0 4.2rem 0;
  }

}

/**shape divider**/

.custom-shape-divider-bottom-1719915605 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1719915605 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1719915605 .shape-fill {
  fill: #FFFFFF;
}

/**end shape divider**/